@using System.IdentityModel.Tokens
@using System.Security.Claims
@model IdEpi.WebEpiserver.Features.Pages.Start.StartPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello world!</h1>
<p>@Model.TestProp</p>


@{

    BootstrapContext context = ClaimsPrincipal.Current.Identities.First().BootstrapContext as BootstrapContext;

    SecurityToken token;
    if (context != null)
    {
        token = context.SecurityToken;
    }
    else
    {
        //var handlers = FederatedAuthentication.FederationConfiguration.IdentityConfiguration.SecurityTokenHandlers;
        //token = handlers.ReadToken(new XmlTextReader(new StringReader(context.Token)));
    }

    var userPrincipal = (ClaimsPrincipal)HttpContext.Current.User;


    <div>@userPrincipal.Identity.AuthenticationType</div>
    <div>@HttpContext.Current.User.Identity.Name</div>
    <div>token.Id</div>
}
@if (Model.Claims != null)
{
    <h2>Claims from context</h2>
    <dl>
        @foreach (var claim in Model.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }

    </dl>
}

@if(ViewData["Content"] != null) { 
    <h2>Data from web api</h2>
    <div>
        @ViewData["Content"]
    </div>
}